NEXTAUTH_SECRET="your-nextauth-secret"
JWT_SECRET="your-jwt-secret"

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
NEXTAUTH_TRUST_HOST=true

AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret
